a {
  text-decoration: none;
  color: #314659;
  &:hover {
    color: #1890ff;
  }
}

.text-center {
  text-align: center;
}

$padding-list: (0, 5, 10, 15, 20, 30, 50);
@each $item in $padding-list {
  .m#{$item} {
    margin: #{$item * 0.01}rem !important;
  }

  .mv#{$item} {
    margin-top: #{$item * 0.01}rem !important;
    margin-bottom: #{$item * 0.01}rem !important;
  }

  .mh#{$item} {
    margin-left: #{$item * 0.01}rem !important;
    margin-right: #{$item * 0.01}rem !important;
  }

  .ml#{$item} {
    margin-left: #{$item * 0.01}rem !important;
  }

  .mt#{$item} {
    margin-top: #{$item * 0.01}rem !important;
  }

  .mr#{$item} {
    margin-right: #{$item * 0.01}rem !important;
  }

  .mb#{$item} {
    margin-bottom: #{$item * 0.01}rem !important;
  }

  .p#{$item} {
    padding: #{$item * 0.01}rem !important;
  }

  .pv#{$item} {
    padding-top: #{$item * 0.01}rem !important;
    padding-bottom: #{$item * 0.01}rem !important;
  }

  .ph#{$item} {
    padding-left: #{$item * 0.01}rem !important;
    padding-right: #{$item * 0.01}rem !important;
  }

  .pl#{$item} {
    padding-left: #{$item * 0.01}rem !important;
  }

  .pt#{$item} {
    padding-top: #{$item * 0.01}rem !important;
  }

  .pr#{$item} {
    padding-right: #{$item * 0.01}rem !important;
  }

  .pb#{$item} {
    padding-bottom: #{$item * 0.01}rem !important;
  }
}

.gray {
  color: #ccc;
}

.title {
  color: #0d1a26;
  font-weight: 600;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.reverse {
    flex-direction: row-reverse;
    &.column {
      flex-direction: column-reverse;
    }
  }

  &.inline {
    display: inline-flex;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.center {
    justify-content: center;
  }

  &.middle {
    align-items: center;
  }

  & > .full {
    flex-grow: 1;
    min-width: auto !important;
    width: auto !important;
  }

  &.grid > div {
    flex: 1;
  }

  label {
    flex-shrink: 0;
  }
}
